body {
  background-color: black;
  margin-left: 100px;
  margin-right: 100px;
}

.title-white { 
	text-decoration: none;
	color:white;
	font-family:didot;
	font-style: italic;
	text-align: center;
	font-size:150%;
	cursor: pointer
}
.subtitle-white {
	color:white;
	font-family:didot;
	font-style: italic;
	text-align: center;
	font-size:100%;
}
 
:root {
  --gutter: 80px;
}

.app {
  padding: 40px 0;
  display: grid;
  grid-gap: 80px 0;
  grid-template-columns: 40px 1fr 40px;
  align-content: start;
}

.app>* {
  grid-column: 2 / -2;
}

.app>.full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(6, calc(40% - 80px));
  grid-template-rows: 450px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 120pt);
  margin-bottom: calc(-.25 * 120pt);
}

.hs>li:last-child {
  margin-right: 20px;
}

/* Demo styles */

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.app {
  width: 100%;
  height: 400px;
  overflow-y: hidden;
}

.hs>li, .item {
  scroll-snap-align: center;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1px;
}

.website-title {
  color: #FFF8FC;
  font-family: didot;
  font-size: 200%;
  text-align: center;
}

.front-page-container {
  position: relative;
  height: 100%;
}

.front-page-centered-image {
  display: block;
  width: auto;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.1)
}

.front-page-container:hover .overlay {
  opacity: 1;
}

.front-page-link {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pinterest {	
	width: 500px;
}