body {
	background-color: black;
	margin-left: 100px;
	margin-right: 100px;
}

.title{ 
	text-decoration: none;
	color:white;
	font-family:didot;
	text-align: center;
	font-size:150%;
	cursor: pointer
}
h2>a{
	color:white;
	font-family:didot;
	text-align: center;
	font-size:100%;
}
 
:root {
  --gutter: 80px;
}

.app {
  padding: 40px 0;
  display: grid;
  grid-gap: 80px 0;
  grid-template-columns: 40px 1fr 40px;
  align-content: start;
}

.pinterest{position: absolute;top:45%;left: 50%;transform: translate(-50%, -50%); overflow: hidden}
.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(6, calc(40% - 80px ));
  grid-template-rows: 450px;
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 120pt);
  margin-bottom: calc(-.25 * 120pt);
}

.hs > li:last-child {
  margin-right: 20px;
}


/* Demo styles */

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.app {
  width: 100%;
  height: 400px;
  overflow-y: hidden;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1px;
}

.wrapper{font-family:didot;width: 100%;margin: 0 auto;position:relative;}
img{opacity: 1;transition: .5s ease;}
.content{position: absolute;top:45%;left: 50%;transform: translate(-50%, -50%); overflow: hidden}
.content 
a{text-decoration: none; font-size: 15px;color:#fff;text-align: center;padding: 0px;cursor: pointer}
.overlay{opacity: 0}
.wrapper:hover img{opacity: .9}
.wrapper:hover
.overlay{opacity: 1}

 
 
