.episodes {
  width: 100%;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.episode {
  padding: 0.5rem;
  margin-top: 0.8rem;
  width: 100%; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.episodes:hover .episode {
  opacity: 0.3;
}

.episodes:hover .episode:hover {
  opacity: 1;
}

.info-flexbox {
  margin-bottom: 0.2rem;
  font-family: 'U', sans-serif;
  font-size: 0.6rem;
  font-style: bold;
}

.info-flexbox, .title-flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.title-flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.title-flexbox > div {
  white-space: nowrap; 
}

.title-flexbox > div:last-child {
  white-space: nowrap;
}

.title, .title_info {
  flex: 0 0 auto;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}


.titleInfoTextLink {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.title_info:hover {
  color: #cc850a;
  font-style: italic;
}

a:active {
  text-decoration: none;
}

.lines {
  flex-grow: 1; 
}

.dashed {
  border-bottom: 0.8px dashed #000;
  width: 100%; /* Ensure dashed line takes up space */
}

@media screen and (max-width: 375px) {
  .info-flexbox, .title-flexbox {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .title{
    display: none;
  }

  .info_small{
    display: none;
  }

  .title_info{
    font-size:1.5rem;
    font-family: 'JEANLUC', Courier, monospace;
  }

  .lines {
    display: none;
  }

  .title-flexbox > div {
    white-space: normal; 
    text-align: center; 
  }
}

