.card-container {
	perspective: 1000px;
	width: 172px;  /* Adjust card size */
	height: 240px; /* Adjust based on card size */
	text-align: center;
	margin: 10px;

  }
  
  .flip-card-inner {
	/* margin: 10px; */
	position: relative;
	min-width: 172px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card-inner.flipped {
	transform: rotateY(-180deg);
  }
  
  .card-side {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font: 16px 'Trebuchet MS';
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
  }
  
  .card-front {
	z-index: 2;
  }

  .card-front:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
  }

  .card-front:hover .card-side {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
  }
  
  .card-back {
	transform: rotateY(-180deg);
  }
  
  .card-top {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 12px;
	text-align: center;
	letter-spacing: -2px;
  }

  .card-text {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	height: 100%;
	padding: 2px;
	padding-top: 130px; 
	text-align: center;
  }

  .card-title{
	font-family: 'Times New Roman', Times, serif;
	font-style: bold;
	font-size: 1.5rem;
}

/* Only italicize on hover if card-title-link is present */
.card-title.card-title-link:hover {
	font-style: italic;
	transition: font-style 0.3s ease;

  }

  .card-subtitle{
	font-family: 'U';
	font-size: 0.8rem;

  }

.vCard-tags {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 3;
	
}


  .card-bottom {
	position: absolute;
	bottom: 6px;
	right: 6px;
	transform: rotate(-180deg);
	width: 12px;
	text-align: center;
	letter-spacing: -2px;
  }
  
  /* Your existing background color classes */
  .pink-bg { background-color: #f7dcef; }
  .black-bg { background-color: black; }
  .blue-bg { background-color: rgb(138, 189, 227); }
  .gentileschi-bg{	
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Artemisia_Gentileschi_-_Judith_Beheading_Holofernes_-_WGA8563.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

.eurypyle-bg{
	/* John William Godward’s: Eurypyle (1921) + lipstick edit - Contemplation (1903) */
		background-image: url("https://64.media.tumblr.com/f277ece3929b545bfed3419539d21153/tumblr_o9k3o0ylIh1ux1u51o2_r2_500.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

.lee-bg{
			background-image: url("https://i.pinimg.com/564x/fb/62/01/fb62013f7864881a00ae65506b1da776.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

.herodias-bg{
	/* Herodias, 1843, by Paul Delaroche */
	background: white;
	background-image: url("https://i.pinimg.com/564x/99/0c/86/990c864aea61540218e8d457b117f371.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 70% bottom 45%;
}	

.romy-bg{
	background: white;
	background-image: url('../images_gifs/51362ed7914151c56f5c9729c507e835.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}	


.varda-bg{
	background: white;
	background-image: url('../images_gifs/varda-agnes-1955.jpg');

	background-repeat: no-repeat;
	background-size: cover;
}	

.ballet-flip-bg{
	background: white;
	background-image: url('../images_gifs/pointe.gif');

	background-repeat: no-repeat;
	background-size:cover;
	background-position: 50%;

}	

.ballet-front-bg{
	background: white;
	background-image: url('../images_gifs/b@b\ thumbnail_insta5.png');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;

}	


.contemp-bg{
	background: white;
	background-image: url('../images_gifs/jpg/b.JPG');
	background-repeat: no-repeat;
	background-size:cover;
}	


.contempo-bg{
	background: white;
	background-image: url('../images_gifs/jpg/contempo.JPG');
	background-repeat: no-repeat;
	background-size:cover;
}	

.bip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/bip.png');
	background-repeat: no-repeat;
	background-size:cover;
	filter:grayscale(1) contrast(100%);
}

.bip-flip{
	background: white;
	background-image: url('../images_gifs/jpg/bip_flip.png');
	background-repeat: no-repeat;
	background-size:cover;
		filter:grayscale(1) contrast(120%);

}

.equestrian-bg{
	background: white;
	background-image: url('../images_gifs/jpg/equestrian.png');
	background-repeat: no-repeat;
	background-size:cover;
}


.surrealism-bg{
	background: white;
	background-image: url('../images_gifs/jpg/h.png');
	background-repeat: no-repeat;
	background-size:cover;
}

.biz-bg{
	background: white;
	background-image: url('../images_gifs/jpg/biz.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

.surrealism-flip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/i.png');
	background-repeat: no-repeat;
	background-size:cover;
}

.swearer-bg{
	background: white;
	background-image: url('../images_gifs/jpg/SheperFairey_Providence.png');
	background-repeat: no-repeat;
	background-size:cover;
}
.swearer-flip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/s.png');
	background-repeat: no-repeat;
	background-size:cover;
}

.mirrorshadow-bg{
	background: white;
	background-image: url('../images_gifs/3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.mirror-flip-bg{
	background: white;
	background-image: url('../images_gifs/4-optimize.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.nlptitle-bg{
	background: white;
	background-image: url('../images_gifs/jpg/equal_m_front.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.nlp-bg{
	background: white;
	background-image: url('../images_gifs/jpg/equaltxt.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.hackflip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/hack@home.png');
	background-repeat: no-repeat;
	background-size:cover;
}

.hackathome-bg{
	background: white;
	background-image: url('../images_gifs/jpg/hack_flip.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.baller-ina-bg{
	
	background: white;
	background-image: url('../images_gifs/jpg/west-sands.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.baller-bg{

	background: white;
	background-image: url('../images_gifs/fleur.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ballerine-bg{
	background: white;
	background-image: url('../images_gifs/commercial-shot.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: grayscale(1) contrast(100%);
}


.ballerine1-bg{
	background: white;
	background-image: url('../images_gifs/commercial-shot.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

}


.portfolio-bg{
	background: white;
	background-image: url('../images_gifs/jpg/portfolio.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.portfolio-flip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/portfolio-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tv-app-bg{
	background: white;
	background-image: url('../images_gifs/jpg/philco_tv_1955.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tv-app-flip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/philcotv_4128_Custom400.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.brisbane-bg{

	background: white;
	background-image: url('../images_gifs/jpg/brisbane-dance.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}	

.winter-bg{
	background: white;
	background-image: url('../images_gifs/jpg/winter-intensive.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}	

.winter-flip-bg{
	background: white;
	background-image: url('../images_gifs/jpg/21.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}	


.can-you-see-me-bg{
	background: white;
	background-image: url('../images_gifs/jpg/can_you_see_me.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}

.cysm-flip-bg{
	background: white; 
	background-image: url('../images_gifs/jpg/can_you_see_me_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}	



  .card-red { color: #c52a2c; }
  .card-black { color: black; }
  .card-white { color: white; }
  .card-blue { color: rgb(92, 129, 162); }